<div class="container">
  <div class="card">

    <div class="card-header" align="center">
      <h1>Editing Menu Permission</h1>
    </div>

    <div class="card-body">
      <%= render 'form', menu_permission: @menu_permission %>
    </div>

    <div class="card-footer" align="center">
      <%= link_to 'Show', @menu_permission, class: 'btn btn-outline-info' %>
      <%= link_to 'Back', menu_permissions_path, class: 'btn btn-outline-secondary' %>
    </div>

  </div>
</div>