<div class="container">
  <div class="card">

    <div class="card-header"  align="center">
      <h1>New Rombel</h1>
    </div>

    <div class="card-body">
      <%= render 'form', rombel: @rombel %>
    </div>

    <div class="card-footer" align="center">
      <%= link_to 'Back', rombels_path, class: 'btn btn-outline-secondary' %>
    </div>
    
  </div>
</div>  
