<div class="container">
  <div class="card">

    <div class="card-header" align="center">
      <h1>Show Siswa</h1>
    </div>

    <div class="card-body">
      <p>
        <strong>Jurusan:</strong>
        <%= @jurusan.jurusan %>
      </p>
    </div>

    <div class="card-footer" align="center">
      <%= link_to 'Edit', edit_jurusan_path(@jurusan), class: 'btn btn-outline-warning' %>
      <%= link_to 'Back', jurusans_path, class: 'btn btn-outline-secondary' %>
    </div>
    
  </div>
</div>